<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental Service</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
    <div id="container"></div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script th:src="@{/main.js}"></script>
</body>
</html>